*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

h2 {
  font-size: 25px;
  padding-left: .65em; }

.row {
  font-size: 0; }
  .row .col-m-1 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-1 {
        width: 8.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-1 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-1 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-1 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-1 {
        width: 8.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-1 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-1 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-2 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-2 {
        width: 16.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-2 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-2 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-2 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-2 {
        width: 16.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-2 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-2 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-3 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-3 {
        width: 25%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-3 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-3 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-3 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-3 {
        width: 25%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-3 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-3 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-4 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-4 {
        width: 33.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-4 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-4 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-4 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-4 {
        width: 33.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-4 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-4 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-5 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-5 {
        width: 41.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-5 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-5 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-5 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-5 {
        width: 41.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-5 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-5 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-6 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-6 {
        width: 50%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-6 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-6 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-6 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-6 {
        width: 50%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-6 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-6 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-7 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-7 {
        width: 58.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-7 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-7 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-7 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-7 {
        width: 58.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-7 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-7 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-8 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-8 {
        width: 66.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-8 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-8 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-8 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-8 {
        width: 66.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-8 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-8 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-9 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-9 {
        width: 75%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-9 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-9 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-9 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-9 {
        width: 75%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-9 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-9 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-10 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-10 {
        width: 83.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-10 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-10 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-10 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-10 {
        width: 83.3333333333%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-10 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-10 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-11 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-11 {
        width: 91.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-11 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-11 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-11 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-11 {
        width: 91.6666666667%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-11 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-11 {
        width: 100%;
        vertical-align: top; } }
  .row .col-m-12 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-m-12 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-m-12 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-m-12 {
        width: 50%;
        vertical-align: top; } }
  .row .col-l-12 {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em; }
    @media only screen and (min-width: 1024px) {
      .row .col-l-12 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 634px) {
      .row .col-l-12 {
        width: 100%;
        vertical-align: top; } }
    @media only screen and (max-width: 1024px) and (min-width: 634px) {
      .row .col-l-12 {
        width: 100%;
        vertical-align: top; } }
  .row .offl-1 {
    margin-left: 8.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-1 {
        margin-left: 0; } }
  .row .offl-2 {
    margin-left: 16.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-2 {
        margin-left: 0; } }
  .row .offl-3 {
    margin-left: 25%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-3 {
        margin-left: 0; } }
  .row .offl-4 {
    margin-left: 33.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-4 {
        margin-left: 0; } }
  .row .offl-5 {
    margin-left: 41.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-5 {
        margin-left: 0; } }
  .row .offl-6 {
    margin-left: 50%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-6 {
        margin-left: 0; } }
  .row .offl-7 {
    margin-left: 58.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-7 {
        margin-left: 0; } }
  .row .offl-8 {
    margin-left: 66.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-8 {
        margin-left: 0; } }
  .row .offl-9 {
    margin-left: 75%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-9 {
        margin-left: 0; } }
  .row .offl-10 {
    margin-left: 83.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-10 {
        margin-left: 0; } }
  .row .offl-11 {
    margin-left: 91.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-11 {
        margin-left: 0; } }
  .row .offl-12 {
    margin-left: 100%; }
    @media only screen and (max-width: 1024px) {
      .row .offl-12 {
        margin-left: 0; } }
  .row .offr-1 {
    margin-right: 8.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-1 {
        margin-right: 0; } }
  .row .offr-2 {
    margin-right: 16.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-2 {
        margin-right: 0; } }
  .row .offr-3 {
    margin-right: 25%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-3 {
        margin-right: 0; } }
  .row .offr-4 {
    margin-right: 33.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-4 {
        margin-right: 0; } }
  .row .offr-5 {
    margin-right: 41.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-5 {
        margin-right: 0; } }
  .row .offr-6 {
    margin-right: 50%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-6 {
        margin-right: 0; } }
  .row .offr-7 {
    margin-right: 58.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-7 {
        margin-right: 0; } }
  .row .offr-8 {
    margin-right: 66.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-8 {
        margin-right: 0; } }
  .row .offr-9 {
    margin-right: 75%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-9 {
        margin-right: 0; } }
  .row .offr-10 {
    margin-right: 83.3333333333%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-10 {
        margin-right: 0; } }
  .row .offr-11 {
    margin-right: 91.6666666667%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-11 {
        margin-right: 0; } }
  .row .offr-12 {
    margin-right: 100%; }
    @media only screen and (max-width: 1024px) {
      .row .offr-12 {
        margin-right: 0; } }
  .row .btn button {
    width: auto;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.25;
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px; }
  .row .btn .btn-default {
    background-color: white;
    border: 1px solid #1F1F1F;
    transition: background-color .35s ease; }
    .row .btn .btn-default a {
      color: #1F1F1F;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-default:hover {
      background-color: #1F1F1F;
      border: 1px solid #1F1F1F; }
      .row .btn .btn-default:hover a {
        color: white; }
  .row .btn .disabled {
    cursor: not-allowed; }
    .row .btn .disabled a {
      cursor: not-allowed; }
  .row .btn .btn-red {
    background-color: white;
    border: 1px solid #F03434;
    transition: background-color .35s ease; }
    .row .btn .btn-red a {
      color: #F03434;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-red:hover {
      background-color: #F03434;
      border: 1px solid #F03434; }
      .row .btn .btn-red:hover a {
        color: white; }
  .row .btn .btn-blue {
    background-color: white;
    border: 1px solid #446CB3;
    transition: background-color .35s ease; }
    .row .btn .btn-blue a {
      color: #446CB3;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-blue:hover {
      background-color: #446CB3;
      border: 1px solid #446CB3; }
      .row .btn .btn-blue:hover a {
        color: white; }
  .row .btn .btn-green {
    background-color: white;
    border: 1px solid #3FC380;
    transition: background-color .35s ease; }
    .row .btn .btn-green a {
      color: #3FC380;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-green:hover {
      background-color: #3FC380;
      border: 1px solid #3FC380; }
      .row .btn .btn-green:hover a {
        color: white; }
  .row .btn .btn-purple {
    background-color: white;
    border: 1px solid #947CB0;
    transition: background-color .35s ease; }
    .row .btn .btn-purple a {
      color: #947CB0;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-purple:hover {
      background-color: #947CB0;
      border: 1px solid #947CB0; }
      .row .btn .btn-purple:hover a {
        color: white; }
  .row .btn .btn-orange {
    background-color: white;
    border: 1px solid #EF4836;
    transition: background-color .35s ease; }
    .row .btn .btn-orange a {
      color: #EF4836;
      line-height: 0px;
      text-decoration: none; }
    .row .btn .btn-orange:hover {
      background-color: #EF4836;
      border: 1px solid #EF4836; }
      .row .btn .btn-orange:hover a {
        color: white; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.breadcrumb {
  list-style: none;
  padding-left: 1em;
  margin-top: 70px; }
  .breadcrumb li {
    display: inline; }
    .breadcrumb li + li:before {
      padding: 4px;
      color: black;
      content: "/\00a0"; }
    .breadcrumb li a {
      color: black;
      text-decoration: none;
      transition: color .35s ease; }
      .breadcrumb li a:hover {
        color: #E74C3C; }

.menu {
  /*Style 'show menu' label button and hide it by default*/ }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2f3036; }
    .menu ul li {
      display: inline-block;
      float: left; }
      .menu ul li a {
        display: block;
        width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        background-color: #2f3036;
        text-decoration: none;
        transition: background-color .35s ease; }
        .menu ul li a:hover {
          background-color: #E74C3C; }
      .menu ul li:hover a + .dropdown, .menu ul li:hover a .dropdown:hover {
        display: block; }
      .menu ul li:hover ul {
        left: auto; }
        .menu ul li:hover ul a {
          background: #f3f3f3;
          color: #2f3036;
          height: 40px;
          line-height: 40px; }
          .menu ul li:hover ul a:hover {
            background: #E74C3C;
            color: #fff; }
      .menu ul li ul {
        width: auto;
        top: 50px;
        display: none;
        position: static; }
        .menu ul li ul li {
          display: block;
          float: none; }
          .menu ul li ul li a {
            width: auto;
            min-width: 140px;
            padding: 0 20px; }
  .menu .show-menu {
    text-decoration: none;
    color: #fff;
    background: #2f3036;
    text-align: center;
    padding: 10px 0;
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 40px; }
  .menu input[type=checkbox] {
    display: none; }
    .menu input[type=checkbox]:checked ~ #menu {
      display: block; }
  @media screen and (max-width: 760px) {
    .menu ul {
      display: none;
      margin-top: 40px;
      height: auto; }
      .menu ul li a {
        width: 100%; }
      .menu ul li ul {
        margin-top: 0; }
    .menu ul li, .menu li a {
      width: 100%; }
    .menu .show-menu {
      display: block;
      border-bottom: 1px solid white; } }

.fa-bars {
  margin-left: 90%;
  cursor: pointer; }

.code {
  background-color: #2f3036;
  color: white;
  margin-bottom: 20px; }
  .code pre {
    padding: 10px; }

footer .liste-page {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0; }
  footer .liste-page li {
    display: inline-block; }
    footer .liste-page li a {
      padding: 8px 16px;
      text-decoration: none;
      color: black; }
      footer .liste-page li a:hover {
        transition: background-color color .35s;
        background-color: #E74C3C;
        color: white; }
  footer .liste-page .active a {
    background-color: #2f3036;
    color: white; }
    footer .liste-page .active a:hover {
      background-color: #2f3036; }
footer .tiny {
  font-size: 10px;
  margin-left: 1em; }

/*# sourceMappingURL=style.css.map */
