@import "../sass/mixin/_grid.scss";
@import "../sass/mixin/_btn.scss";
@import "../sass/mixin/_breadcrumb.scss";
@import "../sass/mixin/_navbar.scss";
@import "../sass/mixin/_pagination.scss";
@import "../sass/mixin/_gallery.scss";
@import "../sass/mixin/_table.scss";
@import "../sass/mixin/_header.scss";
@import "../sass/mixin/_form.scss";
@import "../sass/mixin/_typography.scss";

body {
    @include font('Open sans', sans-serif);

    margin: 0;

    @include title;
}

.ban {
    @include header;
}

.banex {
    @include header(200px);
}

.menu {
    @include navbar;
}

.partie {
    .row {
        * {
            font-size: 15px;
        }
    }
}
.bloc{
    margin-top: 50px;
}
.row {
    margin-bottom: 60px;

    @include row;

    @for $i from 1 through 12 {
        .col-m-#{$i} {
            @include col($i, "m");
        }

        .col-l-#{$i} {
            @include col($i, "l");
        }
    }

    @for $i from 1 through 12 {
        .offl-#{$i} {
            @include offsetleft($i);
        }
    }

    @for $i from 1 through 12 {
        .offr-#{$i} {
            @include offsetright($i);
        }
    }

    .presentation {
        @include col(8);
        @include offsetleft(2);
        @include offsetright(2);
    }
}

.btn {
    button {
        @include btnstruct;

        margin-bottom: 10px;
    }

    .btn-default {
        @include btncolor(#1F1F1F);
    }

    .disabled {
        @include disabled;
    }

    .btn-red {
        @include btncolor(#F03434);
    }

    .btn-blue {
        @include btncolor(#446CB3);
    }

    .btn-green {
        @include btncolor(#3FC380);
    }

    .btn-purple {
        @include btncolor(#947CB0);
    }

    .btn-orange {
        @include btncolor(#EF4836);
    }
}

.form {
    @include form;
}

.galerie {
    @include gallery;
}

.breadcrumb {
    @include breadcrumb;
}

.liste-page {
    @include pagination;
}

.partie {
    margin-bottom: 50px;
}

table {
    @include table;
    margin-bottom: 30px;
}

.open {
    @include font('Open Sans', sans-serif);
}

.ubuntu {
    @include font('Ubuntu', sans-serif);
}

.quicksand {
    @include font('Quicksand', sans-serif);
}

.asap {
    @include font('Asap', sans-serif);
}

.monoton {
    @include font('Monoton', cursive);
}

.cabin {
    @include font('Cabin Condensed', sans-serif);
}

.col-l-1, .col-l-3, .col-l-5, .col-m-1, .col-m-3, .col-m-5 {
    background-color: #2A9D8F;
    color: white;
    padding: 1em;
}

.col-l-12, .col-l-2, .col-l-4, .col-l-6, .col-m-12, .col-m-2, .col-m-4, .col-m-6 {
    background-color: #E76F51;
    color: white;
    padding: 1em;
}

.col-l-11, .col-l-9, .col-l-7, .col-m-11, .col-m-9, .col-m-7, .yellow {
    background-color: #E9C46A;
    padding: 1em;
}

.col-l-10, .col-l-8, .col-m-10, .col-m-8 , .blue{
    background-color: #264653;
    color: white;
    padding: 1em;
}

.justify{
    text-align: justify;
}

.bg-grey {
    background-color: #f6f6f6;
}

footer{
    p{
        text-align: center;
        margin-top: -40px;
    }
}
