@mixin navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #2f3036;

        li {
            display: inline-block;
            float: left;

            a {
                display: block;
                width: 140px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #fff;
                background-color: #2f3036;
                text-decoration: none;
                transition: background-color .35s ease;

                &:hover {
                    background-color: #E74C3C;
                }
            }

            &:hover {
                a {
                    + .dropdown, .dropdown:hover {
                        display: block;
                    }
                }

                ul {
                    left: auto;
                    a {
                        background: #f3f3f3;
                        color: #2f3036;
                        height: 40px;
                        line-height: 40px;

                        &:hover {
                            background: #E74C3C;
                            color: #fff;
                        }
                    }
                }
            }

            ul {
                width: auto;
                top: 50px;
                display: none;
                position: static;

                li {
                    display: block;
                    float: none;

                    a {
                        width: auto;
                        min-width: 140px;
                        padding: 0 20px;
                    }
                }
            }
        }
    }

    /*Style 'show menu' label button and hide it by default*/
    .show-menu {
        text-decoration: none;
        color: #fff;
        background: #2f3036;
        text-align: center;
        padding: 10px 0;
        display: none;
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        height: 40px;
    }

    input[type=checkbox] {
        display: none;

        &:checked ~ #menu {
            display: block;
        }
    }

    @media screen and (max-width: 760px) {
        ul {
            display: none;
            margin-top: 40px;
            height: auto;

            li {

                a {
                    width: 100%;
                }
                ul{
                    margin-top: 0;
                }
            }
        }

        ul li, li a {
            width: 100%;
        }

        .show-menu {
            display: block;
            border-bottom: 1px solid white;
        }
    }
}
