@mixin page {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;

    li {
        display: inline-block;

        a {
            padding: 8px 16px;
            text-decoration: none;
            color: black;

            &:hover {
                transition: background-color color .35s;
                background-color: #E74C3C;
                color: white;
            }
        }
    }

    .active {
        a {
            background-color: #2f3036;
            color: white;

            &:hover {
                background-color: #2f3036;
            }
        }
    }
}
