@mixin breadcrumb($color: black, $hover: #ef473a, $time: .35s){
    list-style: none;
    padding-left: 0;
    li {
        display: inline;

        + li:before {
            padding: 4px;
            color: $color;
            content: "/\00a0";
        }

        a {
            color: $color;
            text-decoration: none;
            transition: color $time ease;

            &:hover {
                color: $hover;
            }
        }
    }
}
